@using Our.Umbraco.Vorto.Extensions
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fruit</title>
</head>
<body>
<div>
    <p>Node Name: @Model.Content.Name </p>
    <p>Vorto FruitName (generated Url): @Model.Content.GetVortoValue("fruitName")</p>
</div>
</body>
</html>
