@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fruit</title>
</head>
<body>
    <div> @Model.Content.Name
    </div>
</body>
</html>
